
@model PhoneBook.Models.Group
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Groups", FormMethod.Post))
{
    @Html.Partial("Partials/_Edit")

}
